/* Container for the entire page */
.container {
    font-family: Arial, Tahoma, Verdana;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Tahoma, Verdana;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #004a99;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 150%;
    flex-wrap: wrap;
}

.header .logo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex: 1 1 100%;
}

.header .user-options {
    font-size: 14px;
    text-align: right;
    flex: 1 1 100%;
    margin-top: 10px;
}

.header .user-options span {
    margin: 0 5px;
}

.menu {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu .menu-item {
    margin: 5px 10px;
    font-size: 14px;
    color: #004a99;
    cursor: pointer;
    white-space: nowrap;
}

.menu .menu-item:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: 100%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

.sidebar-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; 
}

.main-content {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #1e6fb4;

}

.main-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #1e6fb4;
    font-size: x-large;

}

.main-description {
    margin-bottom: 20px;
}

/* Modal styling */
#back_button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#back_button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.back {
    color: #aaa;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 28px;
    font-weight: bold;
}

.back:hover,
.back:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-info {
    margin-top: 20px;
}

.employee-button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    text-align: left;
}

.employee-button:hover {
    background-color: #e1e1e1;
}

.google-visualization-orgchart-node {
    height: 50px;
    width: 50px;
    border: 1px solid #000 !important;
    padding: 10px !important;
    border-radius: 5px !important;
    background-color: #068add !important;
}

/* Responsive Styles */
@media (min-width: 769px) {
    .header {
        flex-direction: row;
    }

    .header .logo, .header .user-options {
        flex: 1 1 auto;
        text-align: left;
    }

    .content {
        flex-direction: row;
    }

    .sidebar {
        width: 20%;
    }

    .main-content {
        width: 80%;
    }
}

@media all and (max-width: 480px) {
    .header .logo, .header .user-options {
        text-align: center;
    }

    .main-content {
        padding: 10px;
    }

    .main-title {
        font-size: large;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu .menu-item {
        margin: 10px 0;
    }

    .sidebar, .main-content {
        width: 100%;
    }

    .main-content {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch; /* enables momentum scrolling on iOS */
    }
}